<%- model_class = Training -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:semester) %></th>
      <th><%= model_class.human_attribute_name(:instructor) %></th>
      <th><%= model_class.human_attribute_name(:career) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= link_to training.id, instructor_training_path(training) %></td>
        <td><%= training.year %></td>
        <td><%= training.semester %></td>
        <td><%= training.instructor.name %></td>
        <td><%= training.career.name %></td>
        <td><%=l training.created_at, format: :long %></td>
        <td>
          <%= link_to t('.training_students'), instructor_training_training_students_path(training) %>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_instructor_training_path(training), :class => 'btn btn-mini' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      instructor_training_path(training),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @trainings %></div>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_instructor_training_path,
            :class => 'btn btn-primary' %>
