<%- model_class = Meeting -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:scheduled_at) %></th>
      <th><%= model_class.human_attribute_name(:accomplished) %></th>
      <th><%= model_class.human_attribute_name(:contract_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= link_to meeting.id, instructor_contract_meeting_path(@contract, meeting) %></td>
        <td><%=l meeting.scheduled_at, format: :long %></td>
        <td><%= t(meeting.accomplished.to_s) %></td>
        <td><%= meeting.contract.name %></td>
        <td><%=l meeting.created_at, format: :long %></td>
        <td>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_instructor_contract_meeting_path(@contract, meeting), :class => 'btn btn-mini' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      instructor_contract_meeting_path(@contract, meeting),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @meetings %></div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_instructor_contract_meeting_path,
            :class => 'btn btn-primary' %>
